* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  background-color: #d5dff5;
}

.container {
  background-color: white;
  border-radius: 10px;
  padding: 50px;
  margin: 30px;
}

.heading {
  border-bottom: #ccc solid 1px;
  padding-bottom: 2%;
  display: flex;
  justify-content: space-between;
}

.gallery {
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery img {
  width: 200px;
  height: 200px;
  margin-bottom: 5%;
  border: 1px solid #dfc7c7;
  border-radius: 8px;
  cursor: pointer;
  flex-basis: 20%;
}

.image-box:hover {
  filter: brightness(0.4);
  transition: 0.3s ease-in-out;
}

.btn {
  background-color: #f44336;
  color: white;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #f44336;
}
.btn:hover {
  background-color: white;
  color: #f44336;
  border: 1px solid #f44336;
}

.custom-file-input input {
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
}

.custom-file-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #ccc;
  border-radius: 8px;
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.icon {
  font-size: 30px;
  margin-bottom: 20px;
}

.checkbox {
  position: relative;
  top: 40px;
  left: 25px;
  transition: 0.3s;
  transform: scale(1.5);
  opacity: 0;
}

.checkbox:checked,
.checkbox:hover {
  opacity: 1;
}

.fa-check-square {
  color: rgb(0, 92, 200);
  font-size: 20px;
}
